<main>
    <section class="subheader">
        <h2 class="title"> Welcome to my page!</h2>
    </section>
    <br>
    <br>
    <section>
        <aside id="aboutSection">
            <h2>About Me</h2>
        </aside>
        <article>
            <img class="selfPhoto" alt="Zac Goad Picture" src="">
            <p class="aboutSectionText"></p>
        </article>
    </section>
    <br>
    <br>
    <section>
        <aside id="workSection">
            <h2>Work</h2>
        </aside>
        <div class="workSection">
            <a href="">
                <div class="" id="">
                    <div id="">
                        <h3>Project 1</h3>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="" id="">
                    <div class="">
                        <h3>Project 2</h3>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="" id="">
                    <div class="">
                        <h3>Project 3</h3>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="" id="">
                    <div class="">
                        <h3>Project 4</h3>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="" id="">
                    <div class="">
                        <h3>Project 5</h3>
                    </div>
                </div>
            </a>
        </div>
    </section>
    <br>
    <br>
    <section>
        <aside id="contact">
            <h2>Contact</h2>
        </aside>
        <article class="contactSection">
            <a href="https://github.com/zjg39" class="contactLinks">GitHub</a>
            <a href="tel:+15558675309" class="contactLinks">555 - 867 - 5309</a>
            <a href="mailto:zjgoad@gmail.com" class="contactLinks">Email</a>
        </article>
    </section>
</main>
<footer>
</footer>